/*-------------------------------------����ҳ���ʼ����ʽ-----------------------------------------*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
    margin:0;
    padding:0;
}
fieldset,img,input,button{
    border:0;
    padding:0;
    margin:0;
    outline-style: none;
}
ul,ol{
    list-style:none;
}
input{
    padding-top: 0;
    padding-bottom: 0;
    font-family:"Simsun","����";
}
input,textarea{
    font-size: 12px;
    margin:0;
}
textarea{resize: none;}
img{
    border:0;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
}
body{
    font:1em/150%Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background: #fff;
    width: 1920px;
    margin: 0 auto;
    font-size: 12px;
}
a{
    color:#666;
    text-decoration: none;
}
a:hover{
    color:rgb(138,183,0);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    font-weight: normal;
}
s,i,em{
    font-style: normal;
    text-decoration: none;
}

/*-----------------------------����header������¼�Ͷ�����沿�ֲ���-------------------------------------*/
header img{
    width: 100%;
}
header>ul{
    height:28px;
    width:70%;
    margin: 0 auto;
}
header>ul>li{
    height:28px;
    line-height: 28px;
}
header>ul>li:last-child{
    margin-left: 2%;
}

header>ul>li:not(:last-child){
    float:right;
    margin-right:1%;
}
header>ul>li:nth-child(3){
    margin-right:2% ;
}
header #icon1{
    background: url("../img/icon.sprites.png") -10px -10px;
    width:15px;
    height:28px;
    margin-top: 3px;
    float: left;
    margin-right: -20px;
}
header #icon2,
header #icon3{
    background: url("../img/icon.sprites.png") -28px -10px;
    width:12px;
    height:5px;
    margin-top:12px;
    float:right;
}
header>ul>li:nth-child(2):hover #icon2,
header>ul>li:first-child:hover #icon3{
    background: url("../img/icon.sprites.png") -38px -10px;
}
header>ul>li:not(:last-child)>a{
    border-left: 1px solid #ddd;
    padding-left:20px;
}
header>ul>li:nth-child(2)>a{
    border-left: none;
}
header>ul>li:nth-child(2),
header>ul>li:first-child{
    position: relative;
}
#code,#list{
    position: absolute;
    width: 100%;
    top:28px;
    left:0;
    display: none;
    z-index: 1000;
}
#list{
    padding-left: 20px;
    background: #fcfcfc;
    border:1px solid #ddd;
    border-top: none;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
header>ul>li:nth-child(2):hover #code{
    display: block;
}
header>ul>li:first-child:hover #list{
    display: block;
}
/*--------------------------������������logo����-----------------------------------------------------*/
#logo{
    width: 70%;
    margin:20px auto 30px;
}
#logo>img{
    float: left;
    margin-right: 2%;
}
#logo>ul{
    height:35px;

}
#logo>ul>li{
    float: left;
    margin-left: 1%;
    height:35px;
    line-height: 35px;
}
#logo>ul>li>a{
    font-size: 1.2em;
}
/*������*/
#logo>form{
    font-size: 1.2em;
}
#logo input{
    border: 2px solid rgb(138,183,0);
    height:32px;
    color: #666;
    width:22%;
}
#logo [type=submit]{
    background:  rgb(138,183,0);
    height: 36px;
    line-height: 36px;
    font-size: 1.2em;
    color:#fff;
    margin-right: 4%;
    width:5%;
    vertical-align: bottom;
}
#logo button{
    height: 32px;
    background: #fff;
    border-radius: 5px;
    color:#666;
    margin-right: 2%;
    width: 10%;
    border:1px solid #ddd;
}
#logo button>#bcg1,
#logo button>#bcg2{
    display: inline-block;
    vertical-align:middle;
    width: 20px;
    height:20px;
    margin-right: 2%;
}
#logo button>#bcg1{
    background: url("../img/icon.sprites.png") -50px -10px;
}
#logo button>#bcg2{
    background: url("../img/icon.sprites.png") -80px -10px;
}

/*----------------------------------------����nav������------------------------------------------------------*/
nav{
    background: rgb(138,183,0);
    width: 100%;
    height:33px;
}
nav>ul{
    width:70%;
    margin:0 auto;
}
nav>ul>li{
    float: left;
    margin-right: 2%;
    width: 10%;
    text-align: center;
}
nav>ul>li:first-child{
    background: #78A000;
    width: 15%;
    font-weight: bold;
    position: relative;
}
nav>ul>li>a{
    height:33px;
    line-height: 33px;
    font-size: 1.3em;
    color: #fff;
}
nav>ul>li:hover{
    background: #78A000;
}
nav>ul>li>a:hover{
    color:#fff;
}
/*ȫ����Ʒ�����б�*/

nav>ul>li:first-child>ul{
    box-sizing: border-box;
    position: absolute;
    top:33px;
    left:0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    text-align: left;
    border: 2px solid #78A000;
    border-top: transparent;
    display: none;
}
nav>ul>li:first-child:hover ul{
    display: block;
}
nav>ul>li:first-child>ul>li{
    height:42px ;
    line-height:42px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    position: relative;
}
nav>ul>li:first-child>ul>li:hover{
    border-bottom: 2px solid #78A000;
    border-top: 2px solid #78A000;
}
nav>ul>li:first-child>ul>li:first-child:hover{
    border-bottom: 2px solid #78A000;
    border-top: 2px solid transparent;
}
nav>ul>li:first-child>ul>li>a>span{
    display: inline-block;
    width: 31px;
    height: 27px;
    vertical-align:middle;
    margin:0  4%;
}
nav #ic1{
    background: url("../img/icon.sprites.png") -120px -10px no-repeat;
}
nav #ic2{
    background: url("../img/icon.sprites.png") -160px -10px no-repeat;
}
nav #ic3{
    background: url("../img/icon.sprites.png") -200px -10px no-repeat;
}
nav #ic4{
    background: url("../img/icon.sprites.png") -240px -10px no-repeat;
}
nav #ic5{
    background: url("../img/icon.sprites.png") -280px -10px no-repeat;
}
nav #ic6{
    background: url("../img/icon.sprites.png") -320px -10px no-repeat;
}
nav #ic7{
    background: url("../img/icon.sprites.png") -360px -10px no-repeat;
}
nav #ic8{
    background: url("../img/icon.sprites.png") -400px -10px no-repeat;
}
nav #ic9{
    background: url("../img/icon.sprites.png") -440px -10px no-repeat;
}
/*-�����б���*/
nav div.sub{
    display:none;
    position: absolute;
    left:100%;
    width: 550px;
    height:412px;
    top:-2px;
    background: rgba(255,255,255,0.8);
    border:2px solid #78A000;
    border-top:2px solid transparent;
    border-left:none;
}
#sub2{
    top:-48px;
}
#sub3{
    top:-94px;
}
#sub4{
    top:-140px;
}
#sub5{
    top:-186px;
}
nav div.sub li{
    display:inline-block;
    margin: 10px;
}
nav div.sub>ul>li:first-child>a{
    color:rgb(138,183,0);
}
nav div.sub>ul>li:not(:first-child)>a{
    border-right: 1px solid #666;
    padding-right: 8px;
}
#product_list>li:hover div.sub{
    display:block;
}
#product_list>li:hover{
    border-right: 2px solid #fff;
}

/*--------------------主体部分---------------------------*/
section{
    width: 70%;
    margin: 0 auto;
}
section>h3{
    margin-top:8px;
    margin-bottom:8px;
}
section>div{
    box-sizing: border-box;
}
#leftSide{
    float: left;
    width: 18%;
    margin-right: 2%;
}
#rightSide{
    float: left;
    width: 80%;
}

              /*左上部分*/
#indexList{
    border-top: 2px solid #78A000;
    font-weight: 500;
}
.listText{
    height:40px;
    line-height: 40px;
    border:1px solid  #eee;
    background: #fafafa;
    border-top: none;
    padding-left: 15px;
    font-size: 1rem;
}
.subList{
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 3px;
    border-top: none;
    font-size: 0.9rem;
    padding-left: 10px;
    display: none;
}
.subList>li{
    height:40px;
    line-height: 40px;
}
.arrowRight{
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url("../img/icon.sprites.png") -32px -16px no-repeat;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 10px;
}
                /*左下部分*/
#hotRecommed{
    border:1px solid #eee;
    border-top:2px solid #78A000;
    margin-top: 15px;
    text-align: center;
}
section b{
    color:#ff6e07 ;
    margin-right: 15px;
    font-size: 1.1em;
}
#hotRecommed>div{
    border-top:1px solid #eee;
}
.hotTitle{
    height:40px;
    line-height: 40px;
    font-size: 1rem;
    background: #fafafa;
    font-weight: 500;
}
         /*右边部分*/
#rightSide>div.hotTitle{
    border:1px solid #eee;
    border-top:2px solid #78A000;
}
.hotTitle>a{
    display: inline-block;
    margin-left: 25px;
}
.light{
    color: #bbb;
}
#main{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main>div{
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 15px;
}
#main>div>p{
    margin-bottom: 5px;
}
#main>div>p:first-child{
    padding-left:15px;
    transition: padding-left .2s linear;
}
#main>div>p:first-child:hover{
    padding-left:2px;
}


#page{
    margin:30px;
    text-align: right;
}
#page>span,#page>input,#page>button{
    display: inline-block;
    border:1px solid #ddd;
    height:30px;
    text-align: center;
    line-height: 30px;
}
#page>span{
    width: 50px;
    margin-left: -3px;
    background: #eee;
}
#page>input{
    width: 30px;
    margin-right: 10px;
}
#page>button{
    width: 60px;
    background: #78A000;
    border: 1px solid #ddd;
    color: #fff;
    margin-left: 20px;
}
/*-----------------------------------------------这是底部部分-----------------------------------------*/
footer>#part1{
    text-align: center;
    margin-top: 30px;
    clear: both;
}
footer>#part1>ul{
    background: #f8f8f6;
    padding-top:30px;
    padding-bottom: 30px;
}
footer>#part1>ul>li{
    display: inline-block;
    margin: 0 50px;
}
footer>#part1>ul>li>div{
    display: inline-block;
    vertical-align: middle;
}
footer>#part1>ul>li>div:first-child{
    border-right: 1px solid rgb(138,183,0);
}
footer>#part1>ul>li>div:last-child{
    text-align: left;
    font-size: 0.9em;
    margin-left: 10px;
}
footer>#part1>ul>li>div:last-child>p:first-child{
    color: rgb(138,183,0);
    font-size: 1.1em;
    font-weight: bold;
}

footer>#part2{
    text-align: center;
    margin-top: 30px;
}
footer>#part2>ul{
    padding-top:30px;
    padding-bottom: 30px;
}
footer>#part2>ul>li{
    display: inline-block;
    vertical-align: top;
    margin: 0 100px;
}
footer>#part2>ul>li>ul>li{
    font-size: 1.2em;
    text-align: left;
    border-left: 1px dashed #ddd;
    padding-left: 17px;
}
footer>#part2>ul>li>ul>li:first-child{
    margin-left: -35px;
    font-weight: bold;
    margin-bottom: 10px;
    border-left: none;
}
footer>#part3{
    text-align: center;
    margin-top:  30px;
    margin-bottom:  30px;
}
footer>#part3>p{
    margin-bottom: 10px;
}
footer>#part3>p:first-child{
    font-weight: bold;
}
