/*-------------------------------------����ҳ���ʼ����ʽ-----------------------------------------*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
    margin:0;
    padding:0;
    font-size: 12px;
}
fieldset,img,input,button{
    border:0;
    padding:0;
    margin:0;
    outline-style: none;
}
ul,ol{
    list-style:none;
}
input{
    padding-top: 0;
    padding-bottom: 0;
    font-family:"Simsun","����";
}
select,input,textarea{
    font-size: 12px;
    margin:0;
}
textarea{resize: none;}
img{
    border:0;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
}
body{
    font:1em/150%Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background: #fff;
    width: 1920px;
    margin: 0 auto;
}
a{
    color:#666;
    text-decoration: none;
}
a:hover{
    color:rgb(138,183,0);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s,i,em{
    font-style: normal;
    text-decoration: none;
}

/*-----------------------------����header������¼�Ͷ�����沿�ֲ���-------------------------------------*/
header img{
    width: 100%;
}
header>ul{
    height:28px;
    width:70%;
    margin: 0 auto;
}
header>ul>li{
    height:28px;
    line-height: 28px;
}
header>ul>li:last-child{
    margin-left: 2%;
}

header>ul>li:not(:last-child){
    float:right;
    margin-right:1%;
}
header>ul>li:nth-child(3){
    margin-right:2% ;
}
header #icon1{
    background: url("../img/icon.sprites.png") -10px -10px;
    width:15px;
    height:28px;
    margin-top: 3px;
    float: left;
    margin-right: -20px;
}
header #icon2,
header #icon3{
    background: url("../img/icon.sprites.png") -28px -10px;
    width:12px;
    height:5px;
    margin-top:12px;
    float:right;
}
header>ul>li:nth-child(2):hover #icon2,
header>ul>li:first-child:hover #icon3{
    background: url("../img/icon.sprites.png") -38px -10px;
}
header>ul>li:not(:last-child)>a{
    border-left: 1px solid #ddd;
    padding-left:20px;
}
header>ul>li:nth-child(2)>a{
    border-left: none;
}
header>ul>li:nth-child(2),
header>ul>li:first-child{
    position: relative;
}
#code,#list{
    position: absolute;
    width: 100%;
    top:28px;
    left:0;
    display: none;
    z-index: 1000;
}
#list{
    padding-left: 20px;
    background: #fcfcfc;
    border:1px solid #ddd;
    border-top: none;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
header>ul>li:nth-child(2):hover #code{
    display: block;
}
header>ul>li:first-child:hover #list{
    display: block;
}

/*--------------------------������������logo����-----------------------------------------------------*/
#logo{
    width: 70%;
    margin:20px auto 30px;
}
#logo>img{
    float: left;
    margin-right: 2%;
}
#logo>ul{
    height:35px;

}
#logo>ul>li{
    float: left;
    margin-left: 1%;
    height:35px;
    line-height: 35px;
}
#logo>ul>li>a{
    font-size: 1.2em;
}
                    /*������*/
#logo>form{
    font-size: 1.2em;
}
#logo input{
    border: 2px solid rgb(138,183,0);
    height:32px;
    color: #666;
    width:22%;
}
#logo [type=submit]{
    background:  rgb(138,183,0);
    height: 36px;
    line-height: 36px;
    font-size: 1.2em;
    color:#fff;
    margin-right: 4%;
    width:5%;
    vertical-align: bottom;
}
#logo button{
    height: 32px;
    background: #fff;
    border-radius: 5px;
    color:#666;
    margin-right: 2%;
    width: 10%;
    border:1px solid #ddd;
}
#logo button>#bcg1,
#logo button>#bcg2{
    display: inline-block;
    vertical-align:middle;
    width: 20px;
    height:20px;
    margin-right: 2%;
}
#logo button>#bcg1{
    background: url("../img/icon.sprites.png") -50px -10px;
}
#logo button>#bcg2{
    background: url("../img/icon.sprites.png") -80px -10px;
}

/*----------------------------------------����nav������------------------------------------------------------*/
nav{
    background: rgb(138,183,0);
    width: 100%;
    height:33px;
}
nav>ul{
    width:70%;
    margin:0 auto;
}
nav>ul>li{
    float: left;
    margin-right: 2%;
    width: 10%;
    text-align: center;
}
nav>ul>li:first-child{
    background: #78A000;
    width: 15%;
    font-weight: bold;
    position: relative;
}
nav>ul>li>a{
    height:33px;
    line-height: 33px;
    font-size: 1.3em;
    color: #fff;
}
nav>ul>li:hover{
    background: #78A000;
}
nav>ul>li>a:hover{
    color:#fff;
}
    /*ȫ����Ʒ�����б�*/
nav>ul>li:first-child>ul{
    box-sizing: border-box;
    position: absolute;
    top:33px;
    left:0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    text-align: left;
    border: 2px solid #78A000;
    border-top: transparent;
}
nav>ul>li:first-child>ul>li{
    height:42px ;
    line-height:42px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    position: relative;
}
nav>ul>li:first-child>ul>li:hover{
    border-bottom: 2px solid #78A000;
    border-top: 2px solid #78A000;
}
nav>ul>li:first-child>ul>li:first-child:hover{
    border-bottom: 2px solid #78A000;
    border-top: 2px solid transparent;
}
nav>ul>li:first-child>ul>li>a>span{
    display: inline-block;
    width: 31px;
    height: 27px;
    vertical-align:middle;
    margin:0  4%;
}
nav #ic1{
    background: url("../img/icon.sprites.png") -120px -10px no-repeat;
}
nav #ic2{
    background: url("../img/icon.sprites.png") -160px -10px no-repeat;
}
nav #ic3{
    background: url("../img/icon.sprites.png") -200px -10px no-repeat;
}
nav #ic4{
    background: url("../img/icon.sprites.png") -240px -10px no-repeat;
}
nav #ic5{
    background: url("../img/icon.sprites.png") -280px -10px no-repeat;
}
nav #ic6{
    background: url("../img/icon.sprites.png") -320px -10px no-repeat;
}
nav #ic7{
    background: url("../img/icon.sprites.png") -360px -10px no-repeat;
}
nav #ic8{
    background: url("../img/icon.sprites.png") -400px -10px no-repeat;
}
nav #ic9{
    background: url("../img/icon.sprites.png") -440px -10px no-repeat;
}
    /*-�����б���*/
nav div.sub{
    display:none;
    position: absolute;
    left:100%;
    width: 550px;
    height:412px;
    top:-2px;
    background: rgba(255,255,255,0.8);
    border:2px solid #78A000;
    border-top:2px solid transparent;
    border-left:none;
}
#sub2{
    top:-48px;
}
#sub3{
    top:-94px;
}
#sub4{
    top:-140px;
}
#sub5{
    top:-186px;
}
nav div.sub li{
    display:inline-block;
    margin: 10px;
}
nav div.sub>ul>li:first-child>a{
     color:rgb(138,183,0);
}
nav div.sub>ul>li:not(:first-child)>a{
    border-right: 1px solid #666;
    padding-right: 8px;
}
#product_list>li:hover div.sub{
    display:block;
}
#product_list>li:hover{
    border-right: 2px solid #fff;
}
/*-------------------------------------����banner�����ֲ���沿��-----------------------------------------*/
#banner{
    width: 100%;
    height:414px;
    overflow: hidden;
    position: relative;
}
#banner #slide_img {
    height: 414px;
    position: absolute;
    top: 0;
    left:0;
}
#banner #slide_img>li{
    float: left;
}
#banner #index_list{
    position: absolute;
    top:95%;
    left:45%;
}
#banner #index_list>li{
    border:1px solid #ddd;
    width: 12px;
    height:12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    background: #eee;
}
#banner #index_list>li.hover{
    background: #78A000;
}
/*--------------------------------------���������Ƽ�����-----------------------------------------*/
#hot_sell{
    width: 70%;
    height:260px;
    margin:0 auto;
    margin-top: 10px;
    position: relative;
}
#hot_sell b{
    color: #e4393c;
    margin-right: 15px;
}
#hot_sell>div{
    position: absolute;
    top:5px;
    right:5px;
    height: 250px;
    background: #fff;
    text-align: center;
    border: 1px solid #78A000;
}
#hot_sell>div>p{
    margin-top:  30px;
    margin-bottom:  30px;
}
#hot_sell>#hot_list{
    position: absolute;
    top:0;
    left: 0;
    background: #f8f8f6;
    text-align: center;
    height: 260px;
    z-index: 100;
}
#hot_sell>#hot_list>li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #f8f8f6;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
.hot,.new,.best{
    position: absolute;
    top: 0;
    left: 120px;
    display: none;
    background: #fff;
    border: 1px solid #78A000;
    width: 75%;
    height: 258px;
}
.hot>li,.new>li,.best>li{
    display: inline-block;
    width: 15%;
    margin: 0 20px;
    vertical-align: middle;
    height: 258px;
}
.hot>li>div>p,.new>li>div>p,.best>li>div>p{
    margin-top:15px;
}
.hover_sell{
    display: block;
}
#hot_sell>#hot_list>li.hover_list{
    border: 1px solid #78A000;
    border-bottom: 1px solid #78A000;
    background: #fff;
    padding-right: 3px;
    border-left: 3px solid #78A000;
    border-right:1px solid #fff;
}
    /*------------------------------����Դͷ��ͼ����------------------------------------------------*/
#main{
    width:70%;
    margin: 10px auto 10px;
}
#main>img{
    width: 100%;
}

/*-----------------------------f����section���岿��----------------------------------------------------*/
section{
    width: 70%;
    margin: 0 auto;
}
section b{
    color: #e4393c;
    font-size: 1.2em;
}
     /*���ǵ�һ¥ �����߲˲���*/
#floor1,#floor2,#floor3,#floor4,#floor5,#floor6{
    background: #fafafa;
    position: relative;
    height: 539px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(138,183,0);
}
.nav_list{
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
}
.nav_list>li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.aside_ad{
    width: 323px;
}
.aside_ad>a{
    display: inline-block;
    width: 323px;
    font-size: 1.3em;
    font-weight: bold;
}
.aside_ad>a>span{
    display: inline-block;
    width: 31px;
    height: 27px;
    vertical-align:middle;
    background: url("../img/icon.sprites.png") -120px -10px no-repeat;
}
#floor2 .aside_ad>a>span{
    background: url("../img/icon.sprites.png") -160px -10px no-repeat;
}
#floor3 .aside_ad>a>span{
    background: url("../img/icon.sprites.png") -200px -10px no-repeat;
}
#floor4 .aside_ad>a>span{
    background: url("../img/icon.sprites.png") -240px -10px no-repeat;
}
#floor5 .aside_ad>a>span{
     background: url("../img/icon.sprites.png") -280px -10px no-repeat;
 }
#floor6 .aside_ad>a>span{
    background: url("../img/icon.sprites.png") -320px -10px no-repeat;
}
.aside_ad>div{
    width: 323px;
    position: absolute;
    top:50px;
    left: 0;
    border-right: none;
    border-right: 1px solid rgb(138,183,0);
    border-top: 1px solid rgb(138,183,0);
}
.aside_ad~li>a{
    display: inline-block;
    width: 194px;
    text-align: center;
    height: 47px;
    line-height: 47px;
    margin-left: -3px;
    box-sizing: border-box;
}
.nav_list>li.hover_main>a{
    border:1px solid #78A000;
    border-top: 3px solid #78A000;
    border-bottom: 1px solid #fff;
    background: #fff;
    height: 52px;
}
.nav_list>li>div>p>img{
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.nav_list>li>div>ul{
    background: #fafafa;
    height:74px;
}
.nav_list>li>div>ul>li{
    display: inline-block;
    width:20%;
    border: 1px solid #78A000;
    border-radius: 6%;
    height:30px;
    line-height: 30px;
    font-size: 0.9em;
    text-align: center;
    margin-left: 10% ;
    margin-top:20px;
    vertical-align: middle;
}
.nav_list>li>div>ul>li:hover{
    background: #78A000;
}
/*�����߲˲���*/

.list1,.list2,.list3{
    width: 76%;
    position: absolute;
    top:50px;
    right: 0;
    display: none;
    background: #fff;
    border-top: 1px solid rgb(138,183,0);
    border-right: 1px solid rgb(138,183,0);
}
.list1>li,.list2>li,.list3>li{
    display: inline-block;
    width:19%;
    text-align: center;
    margin-bottom: 12px;
}
.list1>li>div>p:first-child,.list2>li>div>p:first-child,.list3>li>div>p:first-child{
    margin-top: 30px;
}
.list1>li>div>p:first-child img,.list2>li>div>p:first-child img,.list3>li>div>p:first-child img{
    width: 140px;
    height:140px;
}
.list1>li>div>p:not(:first-child),.list2>li>div>p:not(:first-child),.list3>li>div>p:not(:first-child){
    height:30px;
    line-height:30px;
}
.hover_ad{
    display: block;
}

/*-----------------------------------------------这是底部部分-----------------------------------------*/
footer>#part1{
    text-align: center;
    margin-top: 30px;
}
footer>#part1>ul{
    background: #f8f8f6;
    padding-top:30px;
    padding-bottom: 30px;
}
footer>#part1>ul>li{
    display: inline-block;
    margin: 0 50px;
}
footer>#part1>ul>li>div{
    display: inline-block;
    vertical-align: middle;
}
footer>#part1>ul>li>div:first-child{
    border-right: 1px solid rgb(138,183,0);
}
footer>#part1>ul>li>div:last-child{
    text-align: left;
    font-size: 0.9em;
    margin-left: 10px;
}
footer>#part1>ul>li>div:last-child>p:first-child{
    color: rgb(138,183,0);
    font-size: 1.1em;
    font-weight: bold;
}

footer>#part2{
    text-align: center;
    margin-top: 30px;
}
footer>#part2>ul{
    padding-top:30px;
    padding-bottom: 30px;
}
footer>#part2>ul>li{
    display: inline-block;
    vertical-align: top;
    margin: 0 100px;
}
footer>#part2>ul>li>ul>li{
    font-size: 1.2em;
    text-align: left;
    border-left: 1px dashed #ddd;
    padding-left: 17px;
}
footer>#part2>ul>li>ul>li:first-child{
    margin-left: -35px;
    font-weight: bold;
    margin-bottom: 10px;
    border-left: none;
}
footer>#part3{
    text-align: center;
    margin-top:  30px;
    margin-bottom:  30px;
}
footer>#part3>p{
    margin-bottom: 10px;
}
footer>#part3>p:first-child{
    font-weight: bold;
}

/*--------------------------------------这是左侧楼层指引固定定位图标部分--------------------------------*/
#left_aside{
    width:46px;
    position:fixed;
    top:100px;
    left: 200px;
    display: none;
}
#left_aside>li{
    display: block;
    width: 44px;
    height: 44px;
}
#left_aside>#l1{
    background: url("../img/icon.sprites.png") -10px -40px no-repeat;
}
#left_aside>#l2{
    background: url("../img/icon.sprites.png") -60px -40px no-repeat;
}
#left_aside>#l3{
    background: url("../img/icon.sprites.png") -110px -40px no-repeat;
}
#left_aside>#l4{
    background: url("../img/icon.sprites.png") -160px -40px no-repeat;
}
#left_aside>#l5{
    background: url("../img/icon.sprites.png") -210px -40px no-repeat;
}
#left_aside>#l6{
    background: url("../img/icon.sprites.png") -260px -40px no-repeat;
}
#left_aside>#l1.active{
    background: url("../img/icon.sprites.png") -10px -90px no-repeat;
}
#left_aside>#l2.active{
    background: url("../img/icon.sprites.png") -60px -90px no-repeat;
}
#left_aside>#l3.active{
    background: url("../img/icon.sprites.png") -110px -90px no-repeat;
}
#left_aside>#l4.active{
    background: url("../img/icon.sprites.png") -160px -90px no-repeat;
}
#left_aside>#l5.active{
    background: url("../img/icon.sprites.png") -210px -90px no-repeat;
}
#left_aside>#l6.active{
    background: url("../img/icon.sprites.png") -260px -90px no-repeat;
}
/*--------------------------------------这是右侧固定定位图标部分--------------------------------*/
#right_aside{
    width:60px;
    position:fixed;
    top:300px;
    right: 0;
}
#right_aside>li{
    display: block;
    width: 60px;
    height: 60px;
}
#right_aside>#r1{
    background: url("../img/icon.sprites.png") -10px -140px no-repeat;
}
#right_aside>#r2{
    background: url("../img/icon.sprites.png") -70px -140px no-repeat;
}
#right_aside>#r3{
    background: url("../img/icon.sprites.png") -130px -140px no-repeat;
}
#right_aside>#connect{
    position: absolute;
    top:0;
    right:180px;
    display: none;
}
#right_aside>#connect>img{
   width: 175px;
}
#right_aside>#r3:hover>#connect{
    display: block;
}